/* FileName: app.scss */

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: "Gilroy", sans-serif; 
} 
body { 
	background: #ebd6e5; 
	background: linear-gradient( 
		180deg, 
		rgb(235, 214, 214) 0%, 
		#66662cf8 100%
	); 
} 

@import "./library"; 
@import "./player"; 
@import "./song"; 
@import "./nav"; 
h2, 
h3 { 
	color: hsla(51, 39%, 90%, 0.985); 
} 
h3, 
h4 { 
	font-weight: 600; 
} 
button { 
	font-weight: 700; 
} 
